* {
 margin: 0;
 border:0;
box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.clearfix{
  overflow: auto;
}
.logo{
  float: left;
  padding-right: 1em;
  padding-left: 1em;
}
.title{
  font-size: 3em;
}

html {
  font-family: "Lucida Sans", sans-serif;
}
.logo{
  padding-top: 1em;
  border-radius:50%;
  width:7em;
  height:4em;
}

.header {
  overflow: hidden;
  background-color:#322F3D;
  color: #ffffff;
  cursor: pointer;
}
.header a{
  float: right;
  display: block;
  color: white;
  padding-top: 0;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}
.header a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}
div.guid{
  float:left;
  color:#ffffff;
}
/*upload and search section*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li{
  padding: 8px;
  margin-bottom: 7px;
  background-color: #4b5d67;
  color: #ffffff;
  text-align: center;
}

.menu li:hover {
  background-color: #59405C;
  cursor: pointer;
}
/* end of upload and search section*/
/* project list */
.project{
  background:#d6e0f0;
}
h4>a.none{
  text-decoration: none;
}
h4>a.none:hover{
  font-size: 1.2em;
  color:blue;

}
.project-list{
  padding-top: 1em;
  padding-left: 1em;
  text-decoration: none;
  cursor:pointer;
}
.proj-dom{
  text-transform: uppercase;
}
/* project list */
.aside {
  background-color: #4b5d67;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside>div{
  text-align: left;
  padding-left:  15px;
}
.aside a{
  color:white;
}
.aside a:hover{
  color:black;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  background-color:#322f3d;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.footer > a{
  padding-left: 1em;
  cursor: pointer;
}
.footer>a:hover{
  text-decoration:none;
  font-size:1.2em;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
